* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }

  img{
    width: 20px;
  }
  h1 img{
    width: 50px;
    padding-right: 15px;
  }
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-width: 100vw;
    min-height: 100vh;
}
.header{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    align-items: center;
}
.header-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header-top-left{
    display: flex;
    padding-left: 30px;
}
.header-top-left img{
    padding-right: 30px;
}
#search{
    border-radius: 15px;
    border: none;
    background-color: #F0F0F0;
    padding: 8px;
    max-width: 600px;
    width: 100%;
}
.header-top-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
    padding-right: 88px;
    font-size: 20px;
}
.header-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-bottom-left{
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}
.header-bottom-left-right{
    padding-left: 10px;
}
.header-bottom-left img{
    width: 50px;
}
.header-buttons ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}
ul{
    list-style: none;
}
button{
    font-weight:bold;
    color: #FFFFFF;
    background-color: #5995DA;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
}

.sidebar{
    background-color: #00BFFF;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 15px;
}
.menu{
    display: flex;
    flex-direction: column;
}
.sidebar h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
    padding-left: 10PX;
}
.sidebar li{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
li img{
    margin-right: 20px;
    width:30px;
}

.sidebar .menu :nth-child(6){
margin-bottom: 40px;
}



/* BEGIN MAIN CONTENT */

.main-content{
    background-color: #F8F8F8;
}
